{% extends 'base.html' %}
{% block template %}
    <div class="container mt-5">
        <h1>Tareas y Subtareas</h1>
        <h2>Tareas</h2>
        <ul class="list-group">
            {% for tarea in tareas %}
                <li class="list-group-item">{{ tarea.descripcion }}</li>
            {% empty %}
                <li class="list-group-item">No hay tareas.</li>
            {% endfor %}
        </ul>
        <h2 class="mt-5">Subtareas</h2>
        <ul class="list-group">
            {% for subtarea in subtareas %}
                <li class="list-group-item">{{ subtarea.descripcion }} - Tarea: {{ subtarea.tarea.descripcion }}</li>
            {% empty %}
                <li class="list-group-item">No hay subtareas.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'recupera_tareas_y_sub_tareas' %}" class="btn btn-secondary mt-3">Volver a la lista de tareas</a>
    </div>
    {% endblock %}